<footer class="footer">
    <div id="footer-container">
        <span>&copy; 2022 Tabletop Shops</span> <br>
        <span>Web design by <a href="https://github.com/zacjohnson333">Zac Johnson</a></span>
    </div>
</footer>