// Variables
$form-background: white;
$font: 'Raleway', sans-serif;
$color: #283044;
$btn: #283044;
$btnText: #78A1BB;
$btnTextHov: #EBF5EE;
$drag-border: #78A1BB;
$err: #e74c3c;
$good: #2ecc71;

// Styles
.allBtn {
    text-align: center;
    margin-bottom: 2rem;
    font-family: $font;

    a,
    a:visited {
        background: $btn;
        padding: 1rem;
        border-radius: 8px;
        text-decoration: none;
        color: $btnText;
        transition: all 0.2s ease;
        display: inline-block;

        &:hover {
            color: $btnTextHov;
            transform: translateY(-3px);
        }
    }
}

.formContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;

    .newEditContainer {
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        // grid-template-rows: 1fr 2fr 3fr 1fr;
        grid-template-rows: 125px 150px 400px 100px;
        margin-bottom: 2rem;
        background-color: $form-background;
        // Leave out shadows?
        // box-shadow: 1px 1px 3px black;
        border-radius: 8px;

        div {
            padding-bottom: 1rem;
            padding-left: 15px;
            padding-right: 15px;

            label {
                display: block;
                padding-bottom: 0.5rem;
                font-family: $font;
                color: $font;
            }

            input {
                width: 100%;
            }
        }

        .nameContainer {
            grid-column: 1/2;
            grid-row: 1/2;
            padding-top: 15px;
            max-width: 428px; // shorten?
        }

        .infoContainer {
            grid-column: 1/2;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 25px;

            .shopLocation {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .shopNumber {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .shopHours {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .shopLink {
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }

        .detailsContainer {
            grid-column: 1/2;
            grid-row: 3/4;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 3fr 1fr;
            column-gap: 25px;
            padding-top: 20px;

            .shopDescription {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 406px; // Shorten?

                textarea {
                    width: inherit;
                }
            }

            .shopImage {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .shopFeatures {
                grid-column: 1/3;
                grid-row: 2/3;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);

                .optionContainer {
                    display: inline-flex;
                    align-items: center;
                    justify-content: start;

                    input {
                        width: 20px;
                    }
                }

                #featureLabel {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    font-style: bold;
                }

                #option1 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

                #option2 {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }

                #option3 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }

                #option4 {
                    grid-column: 2/3;
                    grid-row: 3/4;
                }

                #option5 {
                    grid-column: 1/2;
                    grid-row: 4/5;
                }

                #option6 {
                    grid-column: 2/3;
                    grid-row: 4/5;
                }

            }
        }

        .btnContainer {
            grid-column: 1/2;
            grid-template-rows: 4/5;
        }
    }
}

.dropZone {
    max-width: 385px;
    height: 115px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 2px dashed $drag-border;
    transition: all 0.2s ease;

    &:hover {
        background-color: #cccccc;
        color: white;
    }
}

.dropZoneOver {
    border-style: solid;
}

.dropZoneInput {
    display: none;
}

.dropZoneThumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.dropZoneThumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.submitBtn {
    text-align: center;
    margin-left: 1rem;
    font-family: $font;
    background: $btn;
    padding: 1rem;
    border-radius: 8px;
    color: $btnText;
    border-color: $btn;
    transition: all 0.2s ease;
    display: inline-block;

    &:hover {
        color: $btnTextHov;
        transform: translateY(-3px);
    }
}

/* Client-side valdiation icons */
// .formControl {
//     position: relative;  messes with the navbar
// }

.icon {
    position: absolute;
    visibility: hidden;
}

.nameIcons {
    // PER OG: find a better way to position these
    top: 299px;
    right: 783px;
}

.nameIconsEdit {
    top: 204px;
    right: 783px;
}

.locationIcons {
    top: 409px;
    right: 783px;
}

.locationIconsEdit {
    top: 314px;
    right: 783px;
}

.phoneIcons {
    top: 409px;
    right: 329px;
}

.phoneIconsEdit {
    top: 314px;
    right: 329px;
}

.hoursIcons {
    top: 478px;
    right: 783px;
}

.hoursIconsEdit {
    top: 383px;
    right: 783px;
}

.bodyIcons {
    top: 1366px; // PER OG: WILL NEED TO CHANGE ONCE SHOW PAGE IS REFORMATED
    right: 33px;
}

small {
    position: absolute;
    visibility: hidden;
    font-family: $font;
}

#reviewSmall {
    top: 1448px;
}

input {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

textarea {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

.formControl.error {
    input {
        border-color: $err;
    }

    i.fa-exclamation-circle {
        visibility: visible;
        color: $err;
    }

    small {
        visibility: visible;
        color: $err;
    }
}

.formControl.success {
    input {
        border-color: $good;
    }

    i.fa-check-circle {
        visibility: visible;
        color: $good;
    }

    small {
        visibility: visible;
        color: $good
    }
}

.backBtn {
    text-align: center;
    margin-bottom: 2rem;
    font-family: $font;

    a,
    a:visited {
        background: $btn;
        padding: 1rem;
        border-radius: 8px;
        text-decoration: none;
        color: $btnText;
        transition: all 0.2s ease;
        display: inline-block;

        &:hover {
            color: $btnTextHov;
            transform: translateY(-3px);
        }
    }
}