body,
html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin-left: 5rem; // might remove when styling index page
    margin-right: 5rem; // might remove when styling index page
}