<% layout('layouts/boilerplate') %>
    <h1>All Tabletop Shops</h1>
    <div>
        <a href="/shops/new">Add Shop</a>
    </div>
    <ul>
        <% for (let shop of shops) {%>
            <li>
                <a href="/shops/<%= shop._id %>">
                    <%= shop.name %>
                </a>
            </li>
            <% } %>
    </ul>