<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Shop</title>
</head>

<body>
    <form action="/shops" method="POST">
        <div>
            <label for="name">Shop Name</label>
            <input type="text" id="name" name="shop[name]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="shop[location]">
        </div>
        <button>Add Shop</button>
    </form>
    <a href="/shops">All Shops</a>

</body>

</html>