<% layout('layouts/boilerplate') %>
    <h1>Add Shop Details</h1>
    <!-- I may want to move this button -->
    <div class="allBtn">
        <a href="/shops">All Shops</a>
    </div>
    <section class="formContainer">
        <form action="/shops" method="POST" class="newEditContainer" id="form">
            <!-- PER OLD PROJECT: This is not allowing anything to post, because its for files? enctype="multipart/form-data" -->
            <div class="nameContainer">
                <div class="formControl">
                    <label for="name">Shop Name</label>
                    <input type="text" id="name" name="shop[name]">
                    <i class="fas fa-check-circle icon nameIcons"></i>
                    <i class="fas fa-exclamation-circle icon nameIcons"></i>
                    <small>Error MEssage</small>
                </div>
            </div>
            <div class="infoContainer">
                <div class="shopLocation formControl">
                    <label for="location">Location</label>
                    <input type="text" id="location" name="shop[location]">
                    <i class="fas fa-check-circle icon locationIcons"></i>
                    <i class="fas fa-exclamation-circle icon locationIcons"></i>
                    <small>Error Message</small>
                </div>
                <div class="shopNumber formControl">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" name="shop[phone]">
                    <i class="fas fa-check-circle icon phoneIcons"></i>
                    <i class="fas fa-exclamation-circle icon phoneIcons"></i>
                    <small>Error Message</small>
                </div>
                <div class="shopHours formControl">
                    <label for="hours">Hours</label>
                    <input type="text" id="hours" name="shop[hours]">
                    <i class="fas fa-check-circle icon hoursIcons"></i>
                    <i class="fas fa-exclamation-circle icon hoursIcons"></i>
                    <small>Error Message</small>
                </div>
                <!-- do I need to add formControl to shopLink? -->
                <div class="shopLink">
                    <label for="link">Link to webpage</label>
                    <input type="url" id="link" name="shop[link]">
                    <!-- Not sure if I want client-side validation here -->
                </div>
            </div>
            <div class="detailsContainer">
                <div class="shopDescription">
                    <label for="description">Description</label>
                    <textarea name="shop[description]" id="description" rows="10"></textarea>
                    <!-- Not sure if I want client-side validation here -->
                </div>
                <div>
                    <label for="dropDiv">Image(s)</label>
                    <div class="shopImage dropZone" id="dropDiv">
                        <!-- <label for="myFiles">Images</label> -->
                        <span class="dropZonePrompt">Drop file here or click to upload</span>
                        <input type="file" name="shop[image]" class="dropZoneInput" id="myFile" multiple>
                    </div>
                </div>
                <div class="shopFeatures">
                    <div id="featureLabel">
                        <label for="">Features</label>
                        <!-- Client-side validation for radio buttons? -->
                    </div>
                    <div class="optionContainer" id="option1">
                        <input type="checkbox" name="shop[features]" id="gaming" value="gaming">
                        <label for="gaming">Open gaming</label>
                    </div>
                    <div class="optionContainer" id="option2">
                        <input type="checkbox" name="shop[features]" id="trade" value="trade">
                        <label for="trade">Trade-ins</label>
                    </div>
                    <div class="optionContainer" id="option3">
                        <input type="checkbox" name="shop[features]" id="events" value="events">
                        <label for="events">In-store events</label>
                    </div>
                    <div class="optionContainer" id="option4">
                        <input type="checkbox" name="shop[features]" id="tournaments" value="tournaments">
                        <label for="tournaments">CCG tournaments</label>
                    </div>
                    <div class="optionContainer" id="option5">
                        <input type="checkbox" name="shop[features]" id="membership" value="membership">
                        <label for="membership">Membership program</label>
                    </div>
                    <div class="optionContainer" id="option6">
                        <input type="checkbox" name="shop[features]" id="food" value="food">
                        <label for="food">Food/drinks allowed</label>
                    </div>
                </div>
            </div>
            <div class="btnContainer">
                <button class="submitBtn">Add Shop</button>
            </div>
        </form>
        <!-- <a href="/shops">All Shops</a> -->
    </section>

    <!-- CHECK THIS LINK: https://www.reddit.com/r/webdev/comments/nm6wcl/18_cards_of_how_to_design_web_forms/ -->