<% layout('layouts/boilerplate') %>
    <h1>
        <%= shop.name %>
    </h1>
    <h2>
        <%= shop.location %>
    </h2>
    <p>
        <a href="/shops/<%= shop._id %>/edit">Edit</a>
    </p>
    <p>
    <form action="/shops/<%= shop._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/shops">All Shops</a>
    </footer>